.grid-container {
    display: grid;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgb(243, 245, 137);
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: 2px black;
  }

#logo{
    height: 100px;
    width: 150px;
}

#ul{
    display: flex;
    margin: 0%;
    background-color: black;
}

ol{
    color: azure;
    
}

.item2{
  padding: 20px;
  background-color: rgb(234, 255, 45);
  color: red;
}

a{
    color: red;
    padding-left: 10%;
}
#menu{
    height: 600px;
    width: 500px;
}


#ComboImg{
    height: 200px;
    width: 180px;
}